* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.logo-container {
  width: 30vw;
  height: 100vh;
}

.odin-container {
  width: 30vw;
  height: 20vh;
  background-color: black;
  opacity: 0.7;

  display: flex;
  align-items: center;
  justify-content: center;
}

.odin-logo-text {
  font-family: "Comfortaa", sans-serif;
  color: white;
  font-size: 3rem;
}

#odin-logo {
  width: 30%;
  height: 100%;

  /* object-fit: cover; */
}

.text-container {
  background-color: pink;

  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text {
  background-color: red;
}

.form-container {
  background-color: blue;
}

/* img {
  max-width: 40vw;
  height: 100vh;
  object-fit: cover;
} */

/* .logo-container {
  position: absolute;
} */
